@font-face {
  font-family: "future";
  src: url("Fonts/MADE Evolve Sans Thin EVO (PERSONAL USE).otf") format("opentype");
}

body {
  color: white;
  background-color: black;
}

.hidden {
  display: none;
}


.mainBackground {
  width: 100%;
}

.Toolbar {
  width: auto;
  margin: 0 10%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0%;
  border-radius: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.30);
}

a {
  position: relative;
  z-index: 1;
}

.Toolbar a {
  font-family: "future";
  display: block;
  float: left;
  text-align: center;
  color: white;
  padding: 14px 16px;
  font-size: 30px;
}

.colorWipeContainer {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.colorWipe {
  position: relative;
  padding: 0 20px;
  height: 100%;
  display: flex;
}

.colorWipe::before {
  content: "";
  position: absolute;
  height: 2%;
  width: 0;
  background-color: rgba(255, 255, 255);
  right: 0;
  z-index: 0;
  top: 50%;
  transition: all 0.5s;
}

.colorWipe:hover::before,
.colorWipe:hover::after,
.colorwipe:hover a::before {
  width: 100%;
}

/* ABOUT SECTION */
.aboutContainer {
  width: 50%;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.about {
  text-align: center;
  font-family: "future";
}

/* carousel */
.has-dflex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#slide {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

#slide img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 100%;
  opacity: 0;
  transition: 3s;
}

#slide img.fade {
  opacity: 1;
}

.svg-inline--fa {
  width: 0.5em;
}

.wapContainer{
  background-color: black;
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
 }

 @keyframes txtSlide {
   from{
     transform: translateX();
   }

   to{
     transform: translateX(-175%);
   }
 }

.worldsApart{
 animation-name: txtSlide;
animation-duration: 20s;
animation-iteration-count: infinite;
 display: flex;
position: absolute;
z-index: 1;
justify-content: center;
width: 800px;
height: 100%;
opacity: 35%;
font-size: 20rem;

}
